{% macro home() %}
<div class="post">
  <p>
    Hi, I'm a MS Software engineering student at
    <a href="https://www.polito.it" rel="noreferrer" target="_blank">Politecnico di Torino</a>
    and leader of
    <a href="https://www.policumbent.it" rel="noreferrer" target="_blank">Policumbent</a>'s
    Electronics and IT Area, where we are building the fastest human powered bike of the world.

    <br>
    <br>

    I like to make stuff and release it open source, I enjoy hacking stuff and I really love learn new stuff for making
    and hacking more stuff. Currently I'm into microcontrollers and web development with
    <a href="https://www.rust-lang.org" rel="noreferrer" target="_blank">Rust</a>,
    <a href="https://ziglang.org/" rel="noreferrer" target="_blank">Zig</a> and
    <a href="https://www.typescriptlang.org/" rel="noreferrer" target="_blank">Typescript</a>,
    but I'm also very interested in game development and game engines.
  </p>
</div>
{% endmacro home %}
