<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1F222A" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/css/main.css" />

    <script async src="//gc.zgo.at/count.js" data-goatcounter="https://gabelluardo.goatcounter.com/count"></script>

    <title> {{ .Site.Title }}</title>
</head>

<body>
    {{ block "main" . }}{{ end }}
</body>

</html>
