---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="error-404">
    <h1>404 &#8212; Pagina non trovata</h1>
  </div>
</Layout>

<style lang="scss">
  .error-404 {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 2.5rem;
    }
  }
</style>
