---
import Terminal from "../layouts/Terminal.astro";
import Layout from "../layouts/Layout.astro";
import Link from "../layouts/Link.astro";
---

<Layout>
  <Link />
  <main class="content">
    <p>
      Hi, I'm a MS Software engineering student @ <a
        href="https://www.polito.it"
        rel="noreferrer"
        target="_blank">Politecnico di Torino</a
      >
      and the former head of <a
        href="https://www.policumbent.it"
        rel="noreferrer"
        target="_blank">Policumbent</a
      >'s Electronics and IT Area, where we built the <a
        href="https://www.polito.it/ateneo/comunicazione-e-ufficio-stampa/poliflash/il-team-policumbent-vince-la-whpsc-2022-in-nevada"
        rel="noreferrer"
        target="_blank"
      >
        fastest
      </a> human powered bike in the world.
    </p>
    <p>
      I like to build stuff and release it open source, but also contributing to
      make open source stuff better. I enjoy hacking stuff and I really love to
      learn new stuff for making and hacking more stuff.
    </p><p>
      Currently I'm on my way to compleate my master degree with a thesis about
      Vulkan and Rust for <a
        href="https://en.wikipedia.org/wiki/General-purpose_computing_on_graphics_processing_units"
        rel="noreferrer"
        target="_blank">GPGPU</a
      > programming, but I'm also learning web development with React+Typescript
      and a bit of <a href="https://deno.land/" rel="noreferrer" target="_blank"
        >Deno</a
      >. My dream is publishing my first indie game with <a
        href="https://godotengine.org/"
        rel="noreferrer"
        target="_blank">Godot</a
      >.
    </p>

    <Terminal text="cat interests.md" />

    <h3># Interests</h3>
    <ul>
      <li>linux</li>
      <li>terminals and terminal tools</li>
      <li>backend development</li>
      <li>game development</li>
    </ul>
  </main>

  <footer class="content">
    This site was styled with the <a
      href="https://github.com/nordtheme"
      target="_blank">Nord theme</a
    >
  </footer>
</Layout>
