---
import Terminal from "./Terminal.astro";

const items = [
  {
    name: "Github",
    url: "https://github.com/gabelluardo",
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/gabriele-belluardo-10585b200/",
  },
  {
    name: "CV",
    url: "/cv/cv.pdf",
  },
] as const;
---

<div>
  <Terminal blink text="whoami" />

  <ul class="content links">
    {
      items.map((item) => (
        <li>
          <a href={item.url} target="_blank" rel="noopener noreferrer">
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  a:hover {
    color: #1a8cd8;
  }
</style>
