{% macro home() %}
  <div class="post">
    <div class="post">
      <p>Ciao, mi chiamo Gabriele, studio
        <a href="https://it.wikipedia.org/wiki/Ingegneria_del_software" target="_blank">Software engineering</a>
        al
        <a href="https://www.polito.it" target="_blank">Politecnico di Torino</a>
        e sono membro del team
        <a href="http://www.policumbent.it" target="_blank">Policumbent</a>
        al reparto di Strumentazione Elettronica. <br/>Ho una spiccata curiosità per le nuove tecnologie, in particolare per l'universo attorno a
        <a href="https://www.rust-lang.org" target="_blank">Rust</a>
        e al mondo dello sviluppo di videogiochi.
      </p>
      <br/>
      <h2>Alcuni miei progetti</h2>
      <ul>
        <li>
          <p>
            <a href="https://policumbent.github.io/marta-ui" target="_blank">MARTA</a>
          </p>
          <p>Telemetria per i prototipi del team Policumbent</p>
        </li>
        <li>
          <p>
            <a href="https://github.com/policumbent/alice" target="_blank">ALICE</a>
          </p>
          <p>Live dashboard pubblica per seguire le run del team Policumbent</p>
        </li>
        <li>
          <p>
            <a href="https://github.com/policumbent/pyxbee" target="_blank">pyxbee</a>
          </p>
          <p>Libreria python per le antenne xbee e MARTA, basata su
            <a href="https://github.com/digidotcom/xbee-python" target="_blank">digi-xbee</a>
          </p>
        </li>
        <li>
          <p>
            <a href="https://github.com/gabelluardo/anime-dl" target="_blank">anime-dl</a>
          </p>
          <p>CLI per download di serie anime, ha funzioni di scraping per noti archivi web e streaming via vlc</p>
        </li>
        <li>
          <p>
            <a href="https://github.com/gabelluardo/twitter-bot" target="_blank">twitter-bot</a>
          </p>
          <p>Bot che twitta in automatico ogni volta che viene pubblicato un nuovo blog post</p>
        </li>
      </ul>
    </div>
  </div>
{% endmacro home %}
