:root {
  /* nord theme */
  --text: #e5e9f0;
  --text-secondary: #a3be8c;
  --text-background: #d8dee9;
  --url: #81a1c1;
  --background: #2e3440;
  --header: #b48ead;
}

::selection {
  background: var(--url);
  color: var(--background);
}

* {
  background: var(--background);
  font-family: "IBM Plex Mono Medium", monospace;
  font-weight: 500;
  color: var(--text);
}

body {
  min-height: 95vh;
  padding-left: 0.1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

h3 {
  display: inline-block;
  font-size: inherit;
  padding: 0 0.5em;
  margin-bottom: 0;
  background-color: var(--header);
  color: #fafafa;
}

a {
  color: var(--url);
  text-decoration: none;
}
a:hover {
  color: var(--header);
}

footer {
  color: var(--text-background);
  margin-top: auto;
}

/* Scrollbar */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--url) var(--background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--url);
  border-radius: 20px;
  border: 3px solid var(--background);
}

/* Main page */

.text-background {
  color: var(--text-background);
}

.text-secondary {
  color: var(--text-secondary);
}

.content {
  width: 100%;
  max-width: 80ch;
  animation: fade 1.8s;
}

.contact-link:hover {
  color: #d08770;
}

.project-link:hover {
  color: #1a8cd8;
}

/* 404 page */

.error-404 {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
  }
}

/* terminal component */

.typeme {
  animation: typing 0.8s steps(25), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid var(--url);
}

.cursor {
  color: var(--url);
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 22ch;
  }
}

/* animation */

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* dynamic resizing */
@media (min-width: 600px) {
  body {
    font-size: 1.25rem;
  }
}
