---
import Terminal from "./Terminal.astro";

const items = [
  {
    name: "Github",
    url: "https://github.com/gabelluardo",
    new_tab: true,
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/gabriele-belluardo-10585b200/",
    new_tab: true,
  },
  {
    name: "CV",
    url: "/cv.pdf",
    new_tab: true,
  },
];
---

<div>
  <Terminal blink text="me -h" />

  <ul class="content links">
    {
      items.map((item) => (
        <li>
          <a
            class={item.name.toLowerCase()}
            href={item.url}
            target={item.new_tab ? "_blank" : null}
            rel={item.new_tab ? "noopener noreferrer" : null}
          >
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .linkedin:hover {
    color: #1a8cd8;
  }

  .cv:hover {
    color: #d08770;
  }

  .github:hover {
    color: #bf616a;
  }
</style>
